:root {
  --RWDWidth: 1024px;
}

.productsList .mainBox {
  background: #f3f5fa;
  overflow: hidden;
}
.productsList .mainBox::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to top, #f3f5fa 0%, white 100%);
}
.productsList .listBox {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
@media screen and (max-width: 1024px) {
  .productsList .listBox {
    gap: 12px;
  }
}
.productsList .item {
  background: #fff;
  border: #dddddd 1px solid;
  width: calc((100% - 12px * (4 - 1)) / 4);
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .productsList .item {
    width: calc((100% - 12px) / 2);
  }
}
@media screen and (max-width: 550px) {
  .productsList .item {
    width: calc((100% - 12px * (1 - 1)) / 1);
  }
}
.productsList .item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-color: #004387;
}
.productsList .item:hover .pic img {
  transform: scale(1.05);
}
.productsList .item .pic {
  overflow: hidden;
}
.productsList .item .pic img {
  aspect-ratio: 1;
  transition: all 0.3s ease;
}
.productsList .item .info {
  padding: 20px 20px 30px;
  text-align: center;
}
.productsList .item .size {
  font-size: var(--clamp18);
  font-weight: 600;
  color: #004387;
  overflow: hidden;
  /* display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; */
}
.productsList .item .title {
  font-size: var(--clamp20);
  line-height: 1.2;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
  /* display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; */
}
.productsList .item .more {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #0075c2;
  font-size: 13px;
  font-weight: 700;
  transition: all 0.3s ease;
}
.productsList .item .more::after {
  content: '';
  width: 13px;
  height: 13px;
  display: block;
  -webkit-mask: url('../images/icon/icon_arrow_more.svg') center no-repeat;
  mask: url('../images/icon/icon_arrow_more.svg') center no-repeat;
  background: #0075c2;
  transition: all 0.3s ease;
}
.productsList .pageTitle {
  color: #004387;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1;
  font-size: var(--clamp36);
  text-align: center;
}
@media screen and (max-width: 767px) {
  .productsList .pageTitle {
    margin-bottom: 20px;
  }
}
.productsList .pageTitle span {
  display: block;
  color: #000;
  font-weight: 600;
  font-size: var(--clamp48);
}
.productsList .topInfo {
  max-width: 1170px;
  margin: 0 auto 50px;
  color: #333333;
  font-size: var(--clamp21);
}
.productsList .results {
  width: 100%;
  margin: 0 auto 50px;
  max-width: 520px;
  padding: 10px 50px;
  text-align: center;
  background: #f3f5fa;
  font-size: var(--clamp24);
  font-weight: 500;
  -webkit-clip-path: polygon(40px 0%, 100% 0%, calc(100% - 40px) 100%, 0% 100%);
  clip-path: polygon(40px 0%, 100% 0%, calc(100% - 40px) 100%, 0% 100%);
}

.productsDetail .size {
  font-size: var(--clamp28);
  font-weight: 600;
  line-height: 1.2;
}
.productsDetail .productTitle {
  font-size: var(--clamp40);
  line-height: 1.2;
  position: relative;
  margin-bottom: 5%;
  color: #004387;
}
.productsDetail .productTitle span {
  color: #7ecef4;
}
.productsDetail .btnBox {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .productsDetail .btnBox {
    flex-direction: column;
  }
}
.productsDetail .btnBox::before {
  content: '';
  position: absolute;
  inset: 10px -35px -10px 180px;
  display: block;
  background: #7ecef4;
  -webkit-clip-path: polygon(35px 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(35px 0, 100% 0%, 100% 100%, 0% 100%);
}
@media screen and (max-width: 767px) {
  .productsDetail .btnBox::before {
    display: none;
  }
}
.productsDetail .btnBox li {
  position: relative;
}
.productsDetail .btnBox li:nth-child(1) {
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .productsDetail .btnBox li:nth-child(1) {
    margin-right: 0;
  }
}
.productsDetail .btnBox li:nth-child(1)::before {
  content: '';
  position: absolute;
  inset: 0 -35px 0 0;
  display: block;
  background: #0075c2;
  -webkit-clip-path: polygon(0 0, 100% 0%, calc(100% - 35px) 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, calc(100% - 35px) 100%, 0% 100%);
}
@media screen and (max-width: 767px) {
  .productsDetail .btnBox li:nth-child(1)::before {
    inset: 0;
    -webkit-clip-path: none;
    clip-path: none;
  }
}
.productsDetail .btnBox li:nth-child(1).hasItem i::before {
  animation: hasItem 1s infinite;
}
.productsDetail .btnBox li:nth-child(1) i {
  width: 22px;
  height: 22px;
  position: relative;
}
.productsDetail .btnBox li:nth-child(1) i::after {
  content: '';
  width: 22px;
  height: 17px;
  display: block;
  -webkit-mask: url('../images/icon/icon_inquiry.svg') center no-repeat;
  mask: url('../images/icon/icon_inquiry.svg') center no-repeat;
  background: #fff;
  margin-top: 5px;
  transition: all 0.3s ease;
}
.productsDetail .btnBox li:nth-child(1) i::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  left: 11px;
  border-radius: 50%;
  background: #fff;
  transition: all 0.3s ease;
}
.productsDetail .btnBox li:nth-child(2) {
  bottom: -10px;
}
@media screen and (max-width: 767px) {
  .productsDetail .btnBox li:nth-child(2) {
    background: #7ecef4;
  }
}
.productsDetail .btnBox li:nth-child(2) i {
  width: 20px;
  height: 20px;
  position: relative;
}
.productsDetail .btnBox li:nth-child(2) i::after {
  content: '';
  width: 20px;
  height: 7px;
  display: block;
  background: #fff;
  margin-top: 13px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 17px 0, 17px 4px, 3px 4px, 3px 0);
  clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 17px 0, 17px 4px, 3px 4px, 3px 0);
  transition: all 0.3s ease;
}
.productsDetail .btnBox li:nth-child(2) i::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  -webkit-clip-path: polygon(40% 0%, 40% 60%, 20% 60%, 50% 100%, 80% 60%, 60% 60%, 60% 0%);
  clip-path: polygon(40% 0%, 40% 60%, 20% 60%, 50% 100%, 80% 60%, 60% 60%, 60% 0%);
  transition: all 0.3s ease;
}
@keyframes arrScrollUp {
  0% {
    transform: translateX(-50%) translateY(0px);
  }
  50% {
    transform: translateX(-50%) translateY(-2px);
  }
  100% {
    transform: translateX(-50%) translateY(0px);
  }
}
.productsDetail .btnBox a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 10px 10px 40px;
  color: #fff;
  white-space: nowrap;
  background: transparent;
  font-weight: 700;
  overflow: hidden;
  isolation: isolate;
  position: relative;
}
.productsDetail .btnBox a:hover {
  transform: translate(-3px, -3px);
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}
.productsDetail .topBox {
  display: flex;
  align-items: flex-start;
  position: relative;
}
@media screen and (max-width: 767px) {
  .productsDetail .topBox {
    flex-direction: column;
  }
}
.productsDetail .topBox::before {
  content: '';
  position: absolute;
  width: 200%;
  top: 50%;
  bottom: 0;
  right: 50%;
  background: linear-gradient(to top, #f7f8fc 0%, rgba(247, 248, 252, 0) 50%);
}
@media screen and (max-width: 767px) {
  .productsDetail .topBox::before {
    display: none;
  }
}
.productsDetail .infoBox {
  width: 55%;
  padding: 45px 0 45px 45px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-self: stretch;
  background: linear-gradient(to right, #f3f5fa 0%, rgba(243, 245, 250, 0) 100%);
}
@media screen and (max-width: 767px) {
  .productsDetail .infoBox {
    width: 100%;
    padding: 20px 0 20px 20px;
  }
}
.productsDetail .infoBox .description {
  font-size: var(--clamp21);
  color: #333333;
}
.productsDetail .infoBox .description .subTitle {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  color: #0075c2;
  font-weight: 600;
  border-bottom: 2px solid #0075c2;
  line-height: 1;
  margin-bottom: 10px;
}
.productsDetail .infoBox .description ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.productsDetail .infoBox .description ul li {
  position: relative;
  padding-left: 25px;
}
.productsDetail .infoBox .description ul li:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  border: 5px solid #7ecef4;
  left: 0;
  top: 10px;
}
.productsDetail .picBox {
  padding-bottom: 40px;
  max-width: 600px;
  width: 45%;
  position: sticky;
  top: 70px;
}
@media screen and (max-width: 767px) {
  .productsDetail .picBox {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: auto;
    padding-bottom: 40px;
  }
}
.productsDetail .picBox .swiper-pagination {
  width: auto;
  position: relative;
  z-index: 9;
  display: flex;
  gap: 20px;
  justify-content: center;
  transform: none;
  bottom: auto;
  top: auto;
  margin-top: 20px;
}
.productsDetail .picBox .swiper-pagination .swiper-pagination-bullet {
  margin: 0;
  width: 15px;
  height: 15px;
  background: transparent;
  padding: 0;
  margin: 0;
  opacity: 1;
  box-sizing: content-box;
  position: relative;
  background: #7ecef4;
}
@media screen and (max-width: 767px) {
  .productsDetail .picBox .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
.productsDetail .picBox .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #004387;
}
.productsDetail .productContent {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.productsDetail .productContent .block {
  padding-top: 5%;
}
.productsDetail .productContent .subTitle {
  text-align: center;
  font-size: var(--clamp36);
  color: #004387;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .productsDetail .productContent .subTitle {
    margin-bottom: 10px;
  }
}
.productsDetail .productContent .content {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .productsDetail .productContent .content {
    flex-direction: column;
  }
}
.productsDetail .productContent .content .pic {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.productsDetail .productContent .content .description {
  width: 56%;
  color: #535353;
  font-size: var(--clamp21);
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .productsDetail .productContent .content .description {
    width: 100%;
  }
}
.productsDetail .productContent .unit {
  text-align: center;
  margin: -20px auto 30px;
}
.productsDetail .specTable .title {
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  background: #004387;
  padding: 10px 50px 10px 20px;
  font-size: var(--clamp24);
  -webkit-clip-path: polygon(0 0, calc(100% - 35px) 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, calc(100% - 35px) 0%, 100% 100%, 0% 100%);
  margin-bottom: 1px;
}
.productsDetail .specTable .box + .box {
  margin-top: 50px;
}
.productsDetail .specTable .tableBox table {
  min-width: 100%;
  line-height: 1.2;
}
.productsDetail .specTable .tableBox table tr + tr {
  border-top: #000 solid 1px;
}
.productsDetail .specTable .tableBox table thead th {
  background: #dcddde;
}
.productsDetail .specTable .tableBox table tbody {
  text-align: center;
}
.productsDetail .specTable .tableBox table tbody tr th,
.productsDetail .specTable .tableBox table tbody tr td {
  padding: 3px 10px;
  background: #fff;
  font-size: var(--clamp20);
}
.productsDetail .specTable .tableBox table tbody tr:nth-child(even) th,
.productsDetail .specTable .tableBox table tbody tr:nth-child(even) td {
  background: #f3f5fa;
}
.productsDetail .specTable .tableBox table th {
  font-weight: 600;
  text-align: center;
  font-size: var(--clamp21);
}
.productsDetail .specTable .tableBox table th:first-child {
  text-align: left;
  font-weight: bold;
  position: sticky;
  left: 0;
  z-index: 1;
  padding: 20px;
}
.productsDetail .specTable .notice {
  margin-top: 10px;
}
.productsDetail .specTable .notice ul {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.productsDetail .specTable .notice ul li {
  position: relative;
  padding-left: 20px;
}
.productsDetail .specTable .notice ul li::before {
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  background: #7ecef4;
  position: absolute;
  left: 0;
  top: 8px;
} /*# sourceMappingURL=products.css.map */
